<!DOCTYPE html>
<html>
  <head>
    <title>Tera Test Game</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
    <script src="./js/helper/cookie_helper.js"></script>
  </head>
  <body>
    <div id="game"></div>
  </body>
  <script src="./define.js"></script>
  <script src="./protocol.js"></script>
  <script src="./queue.js"></script>
  <script src="./vector2.js"></script>
  <script src="./js/helper/mymath.js"></script>
  <script src="./js/global.js"></script>
  <script src="./js/snapshot.js"></script>
  <script src="./js/player.js"></script>
  <script src="./js/npc.js"></script>
  <script src="./js/game.js"></script>
  <script src="./js/main.js"></script>
  <script src="./js/client_mng.js"></script>
  <script src="./js/client.js"></script>
</html>
